<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="content">
        <div class="broker-name">
          <span>RIA</span>
          <p>Insurance Brokers</p>
        </div>
        <p class="certificate-heading">
          ONLINE TRAINING & EXAMINATION CERTIFICATE
        </p>
        <p class="certificate-para">
          This is to certify that <b>{{CandidateName}}</b> from Location having
          login id <b>RIA20500001</b> was sponsored for Online
          <b>Point of Sale Person - Life</b> Insurance Training by
          <b>RIA Insurance Brokers Pvt Ltd.</b> The Training was held online at
          <b>online.riainsurance.com</b> from
          <b>21-December-2021 to 23- December-2021.</b> He / She has completed
          <b>15 hours</b> of training as stipulated under IRDAI POS-P
          Guidelines.
        </p>
        <br />
        <p class="doc">PAN NO:{{pan}}</p>
        <p class="doc">AADHAR NO :</p>
        <br />
        <p class="result-desc">
          The candidate appeared for Online examination at
          <b>www.online.riainsurance.com</b> on <b>24-December-2021.</b> He /
          She has passed the examination.
        </p>
        <br />
        <p class="letter-desc">
            This letter authorizes you to act as point of Sales for
            <b>RIA Insurance Brokers Pvt Ltd.</b> to market products categorized
            and identified under the Guidelines only. In case you wish to work for
            another company, you are required to obtain a fresh letter from the
            new insurer/insurance intermediary in order to act as Point of Sales
            Person for that entity.
        </p>
        <br />
        <br />
        <p class="for-broker">For RIA Insurance Brokers Pvt Ltd</p>
        <br />
        <br />
        <span class="sign">Authorised Signatory</span>
        <br />
        <br />
        <p class="broker-address">
          <b>RIA Insurance Brokers Pvt Ltd</b><br />
          Om Plaza, 430/7, 1st Floor, Sant Nagar, East of Kailash, New
          Delhi-110065
        </p>
      </div>
    </div>
  </body>
</html>
